<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <appSettings>
    <!--<add key="GmailclientID" value="1067252790670-639fvc9l2j8apq5vjobnd3aq26pn7pit.apps.googleusercontent.com" />
    <add key="GmailclientSecret" value="3jSta8YRH-9C2j_EE8dJzb4o" />-->
    <!--<add key="gmailclientid" value="1067252790670-26qub6fv51hocd4bq00o061490k3k36b.apps.googleusercontent.com" />
    <add key="gmailclientsecret" value="X3NRhRO2RDL3ID7oi6pwZrg8" />-->
    <add key="GmailclientID" value="770201023798-1fi9smelihl7gkglm4fhc87e122johjm.apps.googleusercontent.com" />
    <add key="GmailclientSecret" value="YYxAdOn7StGKz-Jvs6a-ocYM" />
    <add key="Gmailscope" value="profile%20email%20https://mail.google.com" />
    <!--<add key="GmailauthUri" value="https://accounts.google.com/o/oauth2/v2/auth" />
    <add key="GmailtokenUri" value="https://www.googleapis.com/oauth2/v4/token" />-->
    <add key="GmailauthUri" value="https://accounts.google.com/o/oauth2/v2/auth" />
    <add key="GmailtokenUri" value="https://oauth2.googleapis.com/token" />
    <add key="MicrosoftclientID" value="ba580177-0ea0-4ef8-ab29-33e4757f0a5b" />
    <add key="MicrosoftclientSecret" value="KEu5pphe4j_TM-.z575fOehC~qGT1VQE~r" />
    <add key="Microsoftscope" value="openid+email+profile+Mail.Read+Mail.Send+Mail.ReadWrite+SMTP.Send++IMAP.AccessAsUser.All+POP.AccessAsUser.All+offline_access" />
    <add key="MicrosoftauthUri" value="https://login.microsoftonline.com/common/oauth2/v2.0/authorize" />
    <add key="MicrosofttokenUri" value="https://login.microsoftonline.com/common/oauth2/v2.0/token" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="AttachmentImagePath" value="F:\TFS\RealEstate\RealEstate\wwwroot\MailAttachment\" />
  </appSettings>
  <connectionStrings>
    <!--<add name="RealEstateEntities" connectionString="metadata=res://*/App_Code.DAL.Estajo.csdl|res://*/App_Code.DAL.Estajo.ssdl|res://*/App_Code.DAL.Estajo.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-VC6KLNP\SQLEXPRESSSANJU;initial catalog=RealEstate;user id=sa;password=Potenza@123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <add name="RealEstateEntities" connectionString="metadata=res://*/App_Code.DAL.Estajo.csdl|res://*/App_Code.DAL.Estajo.ssdl|res://*/App_Code.DAL.Estajo.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=Estajo\SQLEXPRESS;initial catalog=EstajoCRM;user id=sa;password=estajo@123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>