/*************************
      General
  *************************/

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  outline: none;
  color: #504747;
  font-size: 14px;
  line-height: 22px;
  font-weight: normal;
  background-color: #f8f1f4;
}

a, .btn {
  color: #BF0D1C;
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
  text-decoration: none;
  cursor: pointer;
}

a:focus {
  text-decoration: none !important;
}

a:focus, a:hover {
  text-decoration: none;
  box-shadow: none !important;
  color: #47d1ff;
}

a, button, input {
  outline: medium none !important;
}

input:focus, textarea:focus {
  box-shadow: none !important;
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

::placeholder, ::-moz-placeholder, ::-webkit-input-placeholder {
  color: #bbc8d2;
}

.dropdown-menu.show{
  border:medium none;
  box-shadow: 0px 0px 6px 1px rgb(0 0 0 / 10%);
}

.btn {
  border-radius: 22px;
  color: #fff;
  border: 0;
  padding: 14px 20px;
  font-size: 14px;
  outline: none;
  cursor: pointer;
  line-height: 1;
  white-space: nowrap;
  display: inline-block;
}

.btn:focus, .btn:focus:active, .btn:active, .btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle, .btn-primary:not(:disabled):not(.disabled).active:focus, .btn-primary:not(:disabled):not(.disabled):active:focus, .show>.btn-primary.dropdown-toggle:focus {
  box-shadow: none;
}

.btn-primary {
  background-color: #BF0D1C;
  border-color: #BF0D1C;
  color: #ffffff;
}

.btn-primary:hover {
  background-color: #504747;
  border-color: #504747;
  color: #ffffff;
}

.btn-secondary{
  background-color: #504747;
  border-color: #504747;
  color: #ffffff;
}

.btn-secondary:hover{
  background-color: #BF0D1C;
  border-color: #BF0D1C;
  color: #ffffff;
}

.btn-icon {
  padding: 0px;
  overflow: hidden;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  outline: none;
  border: 0px;
  cursor: pointer;
  text-decoration: none;
  height: 30px;
  width: 30px;
  margin-left: 10px;
  height: 30px;
  width: 30px;
  line-height: 14px;
  font-size: 14px;
  margin-right: 10px;
  color: #fff;
}

.tab-primary {
  background-color: #BF0D1C;
  border-color: #BF0D1C;
  color: #ffffff;
}

.form-checkbox-group {
  display: block;
}

.form-checkbox-group input {
  padding: 0;
  height: initial;
  width: initial;
  margin-bottom: 0;
  display: none;
  cursor: pointer;
}

.form-checkbox-group label {
  position: relative;
  cursor: pointer;
  margin-bottom: 0px;
}

.form-checkbox-group label:before {
  content: '';
  -webkit-appearance: none;
  background-color: transparent;
  border: 2px solid #BF0D1C;
  padding: 8px;
  display: inline-block;
  position: relative;
  vertical-align: middle;
  cursor: pointer;
  margin-right: 5px;
  border-radius: 5px;
}

.form-checkbox-group input:checked+label:after {
  content: '';
  display: block;
  position: absolute;
  top: 4px;
  left: 6px;
  width: 6px;
  height: 12px;
  border: solid #000;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

/*-----------------------
      Login
-----------------------*/

.login-wrapper {
  text-align: center;
  width: 100%;
  margin-top: 50px;
  margin-bottom: 50px;
  min-height: calc(100vh - 163px);
}

.logo-wrapper {
  margin-bottom: 50px;
}

.logo-wrapper img {
  max-height: 70px;
}

.login-form {
  width: 100%;
  height: 100%;
  min-height: 50px;
  background-color: #fff;
  border-radius: 5px;
  border: 1px solid #e8ecf0;
  box-shadow: 0px 0px 3px 0px #e8ecf0;
  padding: 24px;
  max-width: 440px;
  margin: 0 auto;
}

.login-form .custom-input {
  width: 100%;
  border: 2px solid #e8ecf0;
  background: #fff;
  font-size: 16px;
  line-height: 20px;
  border-radius: 5px;
  height: 52px;
  padding: 0 20px;
}

.signup-form {
    width: 100%;
    min-height: 50px;
    background-color: #fff;
    border-radius: 5px;
    border: 1px solid #e8ecf0;
    box-shadow: 0px 0px 3px 0px #e8ecf0;
    padding: 24px;
    max-width: 440px;
    margin: 0 auto;
}

.signup-form .custom-input {
    width: 100%;
    border: 2px solid #e8ecf0;
    background: #fff;
    font-size: 16px;
    line-height: 20px;
    border-radius: 5px;
    height: 52px;
    padding: 0 20px;
}

.forgot-password-link-wrapper {
  position: relative;
}

.forgot-password-link {
  position: absolute;
  top: 15px;
  right: 15px;
}

fieldset.or-option {
  border-top: 2px solid #f1f4f8;
  text-align: center;
}

.or-option legend {
  text-transform: uppercase;
  padding: 5px;
  color: #6d8291;
  text-align: center;
  margin: 0 auto;
  font-weight: bold;
  font-size: 12px;
  width: 30px;
  letter-spacing: 1px;
}

.btn-google {
  height: 46px;
  width: 191px;
  border: 0;
  outline: none;
  border-radius: 2px;
  background-size: 100% !important;
  background: url(../image/btn_google_signin_dark_normal_web.png) no-repeat;
  cursor: pointer;
}

.btn-microsoft {
  height: 46px;
  width: 191px;
  border: 0;
  outline: none;
  border-radius: 2px;
  background-size: 100% !important;
  background: url(../image/btn_microsoft_signin_normal_web.png) no-repeat;
  cursor: pointer;
}

.btn-signUpGoogle {
    height: 46px;
    width: 180px;
    border: 0;
    outline: none;
    border-radius: 2px;
    background-size: 100% !important;
    background: url(../image/btn_google_signup.png) no-repeat;
    cursor: pointer;
}

.btn-signUpMicrosoft {
    height: 46px;
    width: 180px;
    border: 0;
    outline: none;
    border-radius: 2px;
    background-size: 100% !important;
    background: url(../image/btn_microsoft_signup.png) no-repeat;
    cursor: pointer;
}

/*--------------------
       Footer
--------------------*/

footer {
  border-top: 1px solid #e8ecf0;
  color: #6d8291;
  height: 63px;
  display: flex;
  align-items: center;
}

footer a {
  color: #6d8291;
}

footer ul {
  text-align: right;
}

footer ul li {
  display: inline-block;
  margin-left: 30px;
}

@media only screen and (max-width: 576px) {
  .login-wrapper {
    min-height: calc(100vh - 253px);
  }
  footer {
    height: auto;
    margin-top: 80px;
    margin-bottom: 20px;
    padding-top: 20px;
  }
  footer ul {
    text-align: left;
  }
  footer ul li {
    display: block;
    margin-left: 0px;
    line-height: 16px;
  }
  .copyright-text {
    margin-top: 10px;
  }
}

/*--------------------
       Header
--------------------*/

header {
  display: flex;
  align-items: center;
  -webkit-box-pack: justify;
  flex-wrap: nowrap;
  min-width: 100%;
}
.top-header{
  justify-content: space-between;
  align-items: center;
  background-color: #BF0D1C;
  height: 60px;
}

.header-nav{
  background-color: #ffffff;
  justify-content: center;
  box-shadow: 0px 0px 6px 1px rgb(0 0 0 / 10%);
}
.header-logo a {
  padding-left: 10px;
  padding-right: 10px;
  background-color: #ffffff;
  border-radius: 5px;
  display: block;
  margin-left: 20px;
}

.header-logo a img{
  max-height: 45px;
}

.header-logo a:hover svg {
  color: #ffffff;
}

.header-logo svg {
  color: #b8c3d5;
  width: 20px;
  height: 20px;
}

.navbar {
  padding: 0px;
  width: 100%;
}

.navbar ul {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 10px 20px;
}

.navbar ul li a {
  white-space: nowrap;
  line-height: 20px;
  font-size: 16px;
  padding: 15px;
  color: #504747;
  display: inline-block;
  cursor: pointer;
  position: relative;
}

.navbar ul li a svg {
  color: #504747;
  width: 14px;
  height: 14px;
  margin-top: -3px;
  vertical-align: middle;
  margin-right: 10px;
}

.navbar ul li.active a {
  background-color: #BF0D1C;
  color: #ffffff;
  border-radius: 5px;
}

.navbar ul li.active a svg{
  color: #ffffff;
}

.search-input-wrapper {
  width: 300px;
  position: relative;
  margin-right: 10px;
}

.search-input-wrapper input {
  width: 100%;
  border-radius: 20px;
  height: 40px;
  padding-left: 46px;
  font-size: 16px;
  border: 0px;
  line-height: normal;
  padding-right: 20px;
}

.search-input-wrapper svg {
  position: absolute;
  z-index: 999;
  left: 10px;
  top: 7px;
  color: #504747;
}
.right-buttons-wrapper{
  display: flex;
  align-items: center;
  margin-right: 20px;
}
.profile-link-wrapper .dropdown-menu.show{
  padding: 10px;
}
.profile-link-wrapper .dropdown-item{
  padding:  10px;
  border-bottom: 1px solid #f1f4f8;
}
.profile-link-wrapper .dropdown-item:last-child{
  border-bottom: 0px solid #f1f4f8;
}
.profile-img-wrapper{
  display: flex;
  align-items: center;
}
.profile-img img{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}
.top-header .dropdown-toggle {
  color: #fff;
}
.need-help-wrapper{
  text-align: center;
  padding: 20px 15px;
  min-width: 340px;
}
.team-help-wrapper{
  background-color: rgb(191,13,28);
  margin-top: 30px;
  border-radius: 5px;
  color: #ffffff;
  padding: 15px;
}
.team-help-wrapper .team-images{
  display: flex;
  justify-content: center;
  margin-top: 10px;
}
.team-help-wrapper .team-images img{
  width: 50px;
  height: 50px;
  margin: 0px 10px;
  border-radius: 50%;
}
.team-help-wrapper h6{
  font-size: 14px;
  font-weight: 400;
}
.team-help-wrapper p{
  margin-top: 20px;
  margin-bottom: 5px;
  font-size: 16px;
}
.team-help-wrapper a{
  color: #ffffff;
  font-size: 16px;
}
.content-wrapper {
  padding: 20px 0px;
}
.content-bg{
  padding: 10px 15px;
  box-shadow: 0px 0px 6px 1px rgb(0 0 0 / 10%);
  background-color: #ffffff;
  border-radius: 5px;
}
.main-tab-wrapper .nav.nav-pills a{
  color: #504747;
}
.main-tab-wrapper .nav.nav-pills a.active{
  color: #BF0D1C;
  background-color: transparent;
  position: relative;
}
/*.main-tab-wrapper .nav.nav-pills a.active::after{
width: 100%;
height: 5px;
content: "";
position: absolute;
bottom: -15px;
left: 0px;
border-bottom: 5px solid #BF0D1C;
}*/
.custom-card-header {
  border-bottom: 1px solid #f1f4f8;
  padding: 10px 15px 20px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
  width: 100%;
}
.content-header-left , .content-header-right{
  display: flex;
  align-items: center;
}
.content-header-left svg{
  margin-right: 8px;
}
.custom-card-header .btn-icon{
  background-color: #504747;
  /*width: 24px;
  height: 24px;*/
  border-radius: 50%;
  margin: 0px;
  margin-left: 8px;
}
.custom-card-header svg{
  width: 16px;
  height: 16px;
}
.custom-card-header .btn{
  font-size: 13px;
  max-height: 30px;
  padding: 9px 15px;
}
.tab-content{
  width: 100%;
}
.custom-card-text {
  padding: 0px 15px;
}
.custom-card-text .table thead th{
  border-top: medium none;
  border-bottom: 1px solid #f1f4f8;
  color: #504747;
}
.table-profile-detail{
  display: flex;
}
.profile-detail a{
  margin-bottom: 0px;
  color: #504747;
  display: block;
}
.profile-detail span{
  font-size: 12px;
  color: #6d8291;
}
.task-detail li{
  margin-bottom: 5px;
}
.task-detail svg{
  width: 16px;
  height: 16px;
  margin-right: 5px;
}
.task-detail-wrapper {
  display: flex;
}
.timeline-img {
  width: 100%;
  height: 160px;
  overflow: hidden;
}
.timeline-img img{
  width: 100%;
}
.profile-img-big {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  overflow: hidden;
  margin-top: -70px;
  margin-left: 30px;
  border: 5px solid #fff;
  box-shadow: 0px 0px 6px 1px rgb(0 0 0 / 10%);
}
.profile-img-big img{
  width: 100%;
}
.profile-detail-text{
  margin-top: 15px;
}
.profile-detail-text svg{
  width: 16px;
  height: 16px;
  margin-bottom: 6px;
  color: #BF0D1C;
}
.profile-detail-text .btn{
  padding: 6px 15px;
  font-size: 13px;
  margin-top: 10px;
}
.profile-detail-text h4{
  margin-bottom: 4px;
}
.profile-detail-text p , .profile-detail-text a{
  margin-bottom: 0px;
  font-size: 13px;
  display: block;
  color: #504747;
  font-weight: 500;
}
.profile-detail-text a span{
  color: #BF0D1C;
  font-size: 11px;
}
.profile-card-wrapper {
  margin-top: 30px;
  background: #504747;
  padding: 10px;
  border-radius: 5px;
  color: #fff;
  min-height: 244px;
}
.profile-card-wrapper .custom-card-header{
  padding: 0px 5px 10px;
  margin-bottom: 5px;
}
.profile-card-wrapper .custom-card-text{
  padding: 0px 5px;
}
.profile-card-wrapper .custom-card-header .btn-icon{
  background-color: #ffffff;
}
.profile-card-wrapper .custom-card-header .btn-icon svg{
  color: #504747;
}
.profile-card-wrapper .custom-card-text p{
  margin-bottom: 5px;
  font-size: 12px;
}
.custom-card-text p strong{
  min-width: 60px;
  display: inline-block;
  font-size: 12px;
}
.custom-card-text p strong{
  font-size: 12px;
  display: inline-block;
}
.custom-card-text p span.btn-tag {
  padding: 5px 8px;
  font-size: 12px;
  background: #fff;
  margin-right: 4px;
  border-radius: 30px;
  color: #000;
  font-weight: 500;
}
.create-note-wrapper textarea{
  width: 100%;
  text-align: left;
  background-color: #f9f9f9;
  border-radius: 5px;
  min-height: 200px;
  border: 2px solid #f1f4f8;
  padding: 10px;
}
.chat-listing-tab .nav-link{
  display: flex;
} 
.chat-listing-tab .nav-link svg{
  width: 20px;
  height: 20px;
  margin-right: 5px;
}
.chat-listing-tab .nav-link span{
  font-size: 12px;
  font-weight: 600;
  color: #000;
}
.chat-header-detail h5{
  font-size: 14px;
  margin-bottom: 0px;
}
.chat-header-detail span{
  font-size: 13px;
}
.divider{
  border: 1px solid #f1f4f8;
}

.profile-card-wrapper .custom-card-text .follow-us strong {
    min-width: 60px;
}

.profile-card-wrapper .custom-card-text .follow-us span.btn-tag {
    padding: 5px 8px;
    font-size: 12px;
    background: #fff;
    margin-right: 4px;
    border-radius: 30px;
    color: #000;
    font-weight: 500;
    margin-bottom: 5px;
}

.profile-card-wrapper .custom-card-text .follow-us {
    margin-bottom: 5px;
    font-size: 12px;
    display: flex;
}

.profile-card-wrapper .custom-card-text .follow-us-inner {
    display: flex;
    flex-wrap: wrap;
}