@model CustomFieldViewModel
@{
    ViewData["Title"] = "AddCustomFields";
}

<partial name="_MenuBar" />
<div class="content-bg mt-3">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header top-header">
                    <div class="col-lg-12">
                        <div class="d-flex justify-content-between align-items-center">
                            <h4 class="m-b-0 text-white">Add Custom Field</h4>
                            <a asp-action="CustomFields" asp-controller="Admin" class="btn btn-primary"><i class="fa fa-backward"></i>&nbsp;Back</a>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <form asp-action="AddCustomFields" method="post" role="form">
                        <div class="form-body">
                            <div class="form-row m-3">
                                <div class="form-group col-md-6">
                                    <label for="inputEmail4">Field Name:</label>
                                    <input type="text" asp-for="FieldName" placeholder="Field Name" class="form-control" style="width:80%" />
                                    <span asp-validation-for="FieldName" class="text-danger"></span>
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="inputEmail4">Field Type:</label>
                                    <select class="form-control" asp-for="FieldTypeId" asp-items="@(new SelectList(ViewBag.FieldTypeList,"Key","Value"))" style="width:80%">
                                    </select>
                                    <span asp-validation-for="FieldTypeId" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="form-body">
                            <div class="form-row m-3">
                                <div class="form-group col-md-6" id="TextBoxContainer" style="display:none">
                                    <label for="inputEmail4">Dropdown Options:</label>
                                    <div style="display:flex">
                                        <input type="text" name="DynamicTextBox" class="form-control" style="width:70%" />&nbsp;&nbsp;
                                        <input id="btnAdd" type="button" value="Add" onclick="AddTextBox()" />
                                    </div>
                                </div>
                                <div class="form-group col-md-6">
                                    <div class="form-checkbox-group">
                                        <input type="checkbox" asp-for="HideIfEmpty" value="true" id="IsActive">
                                        <label for="IsActive"> Hide if empty </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-actions">
                            <div class="form-row m-3">
                                <div class="form-group col-md-6">
                                    <input id="btnSubmitCustomField" type="submit" value="Submit" name="AddCustomField" class="btn btn-success" />
                                    <a asp-action="CustomFields" asp-controller="Admin" title="Click here to get List" class="btn btn-primary">Cancel</a>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/SiteJavascripts/CustomFieldList.js"></script>
