
@{
    ViewData["Title"] = "Index";
}

<div class="content-bg mt-3">
    <div class="row">
        <div class="tab-content" id="pills-tabContent">
            <table class="row-border order-column" id="tblLeadList" cellspacing="0" width="100%">
                <thead style="background-color:white">
                    <tr>
                        @*<th><input type="checkbox" name='ID' id="checkBoxAll" class="custom-checkbox" /></th>*@
                        @*<th><input type="checkbox" name='ID' id="checkBoxAll" class="custom-checkbox" /></th>*@
                        <th><input type="checkbox" id="checkBoxAll" /></th>
                        <th scope="col">Name</th>
                        <th scope="col">Phone</th>
                        <th scope="col">Email</th>
                        <th scope="col">Price</th>
                        <th scope="col">Source</th>
                        <th scope="col">Status</th>
                        <th scope="col">Industry</th>
                        <th scope="col">Last Activity</th>
                        <th scope="col">Last Communication</th>
                        <th scope="col">Stage</th>
                        <th scope="col">Tags</th>
                        <th scope="col">Created</th>
                        <th scope="col">Agent</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>
<script src="~/js/datatable/jquery.dataTables.min.js"></script>
<script src="~/js/datatable/dataTables.fixedColumns.min.js"></script>
<script src="~/js/select2.js"></script>
<script src="~/js/select2.min.js"></script>
<script>

    $(document).ready(function () {
        $('#checkBoxAll').click(function () {
            alert("aaa");
            if ($(this).is(":checked")) {
                $(".chkCheckBoxId").prop("checked", true)
            }
            else {
                $(".chkCheckBoxId").prop("checked", false)
            }
        });

        var table = $("#tblLeadList").DataTable({
            "processing": true, // for show progress bar
            "serverSide": true, // for process server side
            "filter": true, // this is for disable filter (search box)
            "orderMulti": false, // for disable multiple column at once
            //"dom": '<"top"i>rt<"bottom"lp><"clear">',
            "ajax": {
                "url": '@Url.Action("GetAllLead", "LeadData")',
                "type": "POST",
                "datatype": "json"
            },
            "columns": [
                {
                    "data": null,
                    render: function (data, type, row) {
                        console.log(data);
                        if (type === 'display') {
                            return '<input type="checkbox" value="' + data.leadId + '" class="custom-checkbox chkCheckBoxId">';
                        }
                        return data;
                    },
                    bSortable: false,
                    "bSearchable": false,
                },
                { "data": "fullName", "name": "fullName"},
                { "data": "phoneNumber", "name": "phoneNumber"},
                { "data": "emailAddress", "name": "emailAddress"},
                {
                    "data": null,
                    "defaultContent": "5000",
                    "autoWidth": true
                },
                { "data": "leadSource", "defaultContent": "<i>N/A</i>"},
                { "data": "leadStatus", "defaultContent": "<i>N/A</i>"},
                { "data": "industry", "defaultContent": "<i>N/A</i>"},
                {
                    "data": null,
                    "defaultContent": "02/01/2021",
                    "autoWidth": true
                },
                {
                    "data": null,
                    "defaultContent": "02/01/2021",
                    "autoWidth": true
                },
                { "data": "stage.stageName", "defaultContent": "<i>N/A</i>"},
                { "data": "tagsName", "defaultContent": "<i>N/A</i>"},
                {
                    "data": "createdDate",
                    "render": function (data) {
                        var date = new Date(data);
                        var month = date.getMonth() + 1;
                        var odate = date.getDate() + 1;
                        return (odate.toString().length > 1 ? odate : "0" + odate) + "/" + (month.toString().length > 1 ? month : "0" + month) + "/" + date.getFullYear() + "&nbsp;&nbsp;" + (date.getHours() < 10 ? ("0" + date.getHours()) : date.getHours()) + ":" + (date.getMinutes() < 10 ? ("0" + date.getMinutes()) : date.getMinutes()) ;
                    },
                    "autoWidth": true
                },
                { "data": "agent.fullName", "defaultContent": "<i>N/A</i>"},
                {
                    data: "leadId", "bSearchable": false,
                    bSortable: false,
                    mRender: function (data, type, full) {
                        return '<a href="Brand/Edit/' + data + '"" class="openDialog btn btn-default btn-warning"  >Edit</a> &nbsp;&nbsp;'
                            + '<a href="Brand/Delete/' + data + '"" Class="deleteDialog btn btn-default btn-danger " >Delete</a>&nbsp;&nbsp;'
                    }
                }
                //{ "data": null, "name": "Action", "defaultContent": '<a href="#" class="editLink"><i class="glyphicon glyphicon-pencil"></i></a> | <a href="#" class="deleteLink"><i class="glyphicon glyphicon-trash"></i></a>'}

            ],
            "fixedColumns": {
                "leftColumns": 2
            },
            "scrollX": true,
            "scrollCollapse": true,
            "pageLength": 10,
        });


        $(document).on("click", '.editLink', function (e) {
            e.preventDefault();
            var data = table.row($(this).parents('tr')).data();
            console.log(data);

        });

        $(document).on("click", '.deleteLink', function (e) {
            e.preventDefault();
            var data = table.row($(this).parents('tr')).data();
            console.log(data);

        });

        var custCodeArr = [];

        $("#getCheckData").click(function (e) {
            e.preventDefault();
            custCodeArr.length = 0;
            custCodeArr = [];
            var rows = $(table.$('input[type="checkbox"]').map(function () {
                return $(this).prop("checked") ? $(this).val() : 0;
            }));

            $.each(rows, function (i, v) {
                if (v != 0) {
                    custCodeArr.push(v);
                    }

            });

            console.log(custCodeArr);
        })




    });

</script>
@*<script type="text/javascript">
    $(document).ready(function () {
        $.ajax({
            type: 'POST',
            dataType: 'json',
            url: "/LeadData/GetAllLead",
            async: false,
            success: function (data) {
                //debugger;
                console.log(data);
                if (data != "False") {
                    for (var i = 0; i < data.length; i++) {
                        $('#tblLeadList').dataTable().fnAddData([
                            //"<input type='checkbox' name='ID' value=" + data[i].leadId + " id='checkbox-'" + data[i].leadId + " name='checkbox-'" + data[i].leadId + " email='checkboxemail-'" + data[i].emailAddress == null ? "N/A" : data[i].emailAddress + " agentemail='checkboxagentemail-'" + __glb_fnIsNullOrEmpty(data[i].agent) ? "N/A" : data[i].agent.emailAddress + " />",
                            "<input type='checkbox' name='ID' value=" + data[i].leadId + " class='custom-checkbox chkCheckBoxId' id='checkbox-" + data[i].leadId + "' />",
                            //"<div class=\"form-checkbox-group\">"+
                            //    "<input class=\"form-checkbox-group\" type=\"checkbox\" value=" + data[i].leadId + " id='checkbox-'" + data[i].leadId + " name='checkbox-'" + data[i].leadId + " email='checkboxemail-'" + data[i].emailAddress == null ? "N/A" : data[i].emailAddress + " agentemail='checkboxagentemail-'" + __glb_fnIsNullOrEmpty(data[i].agent) ? "N/A" : data[i].agent.emailAddress +"/>" +
                            //    "<label for='checkbox-'"+ data[i].leadId + "></label>"+
                            //"</div>",
                            data[i].firstName + " " + data[i].lastName,
                            data[i].phoneNumber == null ? "N/A" : data[i].phoneNumber,
                            data[i].emailAddress,
                            "50000",
                            data[i].leadSource == null ? "N/A" : data[i].leadSource,
                            data[i].leadStatus == null ? "N/A" : data[i].leadStatus,
                            data[i].industry == null ? "N/A" : data[i].industry,
                            "02/01/2021",
                            "02/01/2021",
                            data[i].stage == null ? "N/A" : data[i].stage.stageName,
                            data[i].tagsName == null || data[i].tagsName == "" ? "N/A" : data[i].tagsName,
                            data[i].createdDate,
                            "",
                            ""]);
                    }
                }
            }
        });
        $('.paginate_button.next:not(.disabled)').on('click', function () {
            EditPuzzle();
        });

        $('#checkBoxAll').click(function () {
            if ($(this).is(":checked")) {
                $(".chkCheckBoxId").prop("checked", true)
            }
            else {
                $(".chkCheckBoxId").prop("checked", false)
            }
        });
    });

    //var table = $('#tblLeadList').DataTable({
    //    'aoColumnDefs': [{
    //        'bSortable': false,
    //        'aTargets': [0] /* 1st one, start by the right */
    //    }]
    //});

    var table = $('#tblLeadList').DataTable({
        //scrollY: "300px",
        scrollX: true,
        scrollCollapse: true,
        pageLength: 5,
        order: [[1, 'desc']],
        columnDefs: [{
            "targets": 0,
            "orderable": false
        }],
        fixedColumns: {
            leftColumns: 2
        }
    });

</script>*@